<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/static/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="py-5 text-center">
        <h2>직원 정보 수정</h2>
    </div>

    <form th:action th:object="${staffDto}" method="post">

        <label for="staffName">이름</label>
        <input type="text" id="staffName" th:field="*{staffName}" class="form-control"><br>

        <label for="phoneNum">전화번호</label>
        <input type="text" id="phoneNum" th:field="*{phoneNum}" class="form-control"><br>

        <label for="loginId">아이디</label>
        <input type="text" id="loginId" th:field="*{loginId}" class="form-control"><br>

        <label for="password">비밀번호</label>
        <input type="text" id="password" th:field="*{password}" class="form-control"><br>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">수정하기</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='@{/admin}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

    <button class="w-100 btn btn-secondary btn-lg"
            th:onclick="|location.href='@{/admin/staffAccounts/delete/{staffNum}(staffNum=${staffDto.staffNum})}'|"
            type="button">계정 삭제</button>

</div> <!-- /container -->
</body>
</html>