<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">
    <table class="table">
        <thead>
        <tr align="center">
            <th colspan="3" th:text="${customers.get(0).getRentalNum()}"></th>
        </tr>
        <tr>
            <th scope="col">#</th>
            <th scope="col">이름</th>
            <th scope="col">전화번호</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer, stat : ${customers}">
            <td th:text="${stat.count}"></td>
            <td th:text="${customer.getCustomerName()}"></td>
            <td th:text="${customer.getPhoneNum()}"></td>
        </tr>
        </tbody>
    </table>
</div> <!-- /container -->

<div class="container">
    <div class="align-content-center col-sm-1">
        <form th:action method="post">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 32px;"></th>
                    <th style="width: 7em;"> 남</th>
                    <th style="width: 7em;"> 여</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>자켓</th>
                    <td><input type="text" name="male_jacket" th:value="${returnSlip.getMaleCloth()?.getMale_jacket()}"
                               class="form-control" disabled></td>
                    <td><input type="text" name="female_jacket"
                               th:value="${returnSlip.getFemalCloth()?.getFemale_jacket()}" class="form-control" disabled></td>
                </tr>
                <tr>
                    <th>셔츠</th>
                    <td><input type="text" name="male_shirts" th:value="${returnSlip.getMaleCloth()?.getMale_shirts()}"
                               class="form-control" disabled></td>
                    <td><input type="text" name="female_shirts"
                               th:value="${returnSlip.getFemalCloth()?.getFemale_shirts()}" class="form-control" disabled></td>
                </tr>
                <tr>
                    <th>하의</th>
                    <td><input type="text" name="male_pants" th:value="${returnSlip.getMaleCloth()?.getMale_pants()}"
                               class="form-control" disabled></td>
                    <td><input type="text" name="female_pants"
                               th:value="${returnSlip.getFemalCloth()?.getFemale_pants()}" class="form-control" disabled></td>
                </tr>
                <tr>
                    <th>조끼</th>
                    <td><input type="text" name="male_vest" th:value="${returnSlip.getMaleCloth()?.getMale_vest()}"
                               class="form-control" disabled></td>
                    <td><input type="text" name="female_vest" th:value="${returnSlip.getFemalCloth()?.getFemale_vest()}"
                               class="form-control" disabled></td>
                </tr>
                <tr>
                    <th>풀오버</th>
                    <td><input type="text" name="male_pullover"
                               th:value="${returnSlip.getMaleCloth()?.getMale_pullover()}" class="form-control" disabled></td>
                    <td><input type="text" name="female_pullover"
                               th:value="${returnSlip.getFemalCloth()?.getFemale_pullover()}" class="form-control" disabled></td>
                </tr>
                <tr>
                    <th>가디건</th>
                    <td><input type="text" name="male_cardigan"
                               th:value="${returnSlip.getMaleCloth()?.getMale_cardigan()}" class="form-control" disabled></td>
                    <td><input type="text" name="female_cardigan"
                               th:value="${returnSlip.getFemalCloth()?.getFemale_cardigan()}" class="form-control" disabled></td>
                </tr>
                <tr>
                    <th>타이</th>
                    <td><input type="text" name="male_tie" th:value="${returnSlip.getMaleCloth()?.getMale_tie()}"
                               class="form-control" disabled></td>
                    <td><input type="text" name="female_tie" th:value="${returnSlip.getFemalCloth()?.getFemale_tie()}"
                               class="form-control" disabled></td>
                </tr>
                <tr>
                    <th>벨트</th>
                    <td colspan="2"><input type="text" name="belt" th:value="${returnSlip.getMaleCloth()?.getBelt()}"
                                           class="form-control" disabled>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr class="my-4">
            <div class="row">

                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">반납완료</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg"
                            onclick="location.href='items.html'"
                            th:onclick="|location.href='@{/returnSlip}'|" type="button">뒤로
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>