<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet" />

    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        function add_customer() {
            const new_customer = "<label for='name'>이름</label><input type='text' id='name' name='name' class='form-control'>" +
                "<label for='name'>전화번호</label><input type='text' id='phoneNum' name='phoneNum' class='form-control'><br>";
            document.getElementById("customer_form").innerHTML += new_customer;
        }
        /*]]>*/
    </script>
</head>
<body>
<div class="container">

    <div class="py-5 text-center">
        <h2>접수</h2>
    </div>

    <form action="receive" th:action method="post">

        <label for="name">이름</label>
        <input type="text" id="name" name="name" class="form-control">
        <label for="phoneNum">전화번호</label>
        <input type="text" id="phoneNum" name="phoneNum" class="form-control"><br>

        <div id="customer_form"></div>
        <input type="button" value="고객 추가" style="cursor:hand;" th:onclick="'javascript:add_customer();'">

        <hr class="my-4">

        <label for="name">보증금</label>
        <input type="text" id="deposit" name="deposit" class="form-control"><br>

        <hr class="my-4">
        <div>
            <span>나이</span><br>
            10대<input type="checkbox" name="age_10" value="1" class="form-check-input">
            20-25세<input type="checkbox" name="age_20_25" value="1" class="form-check-input"/>
            26-30세<input type="checkbox" name="age_26_30" value="1" class="form-check-input"/>
            31-35세<input type="checkbox" name="age_31_35" value="1" class="form-check-input"/>
            36-40세<input type="checkbox" name="age16_40" value="1" class="form-check-input"/>
            40세 이상<input type="checkbox" name="age_40" value="1" class="form-check-input"/>
        </div>
        <div>
            <span>경로</span><br>
            검색<input type="checkbox" value="1" name="search" class="form-check-input"/>
            지인 소개<input type="checkbox" value="1" name="friends" class="form-check-input"/>
            블로그<input type="checkbox" value="1" name="blog" class="form-check-input"/>
            유투브<input type="checkbox" value="1" name="youtube" class="form-check-input"/>
            인스타<input type="checkbox" value="1" name="instagram" class="form-check-input"/>
            페이스북<input type="checkbox" value="1" name="facebook" class="form-check-input"/>
        </div>
        <div>
            <span>지역</span><br>
            서울<input type="checkbox" value="1" name="seoul" class="form-check-input"/>
            인천<input type="checkbox" value="1" name="incheon" class="form-check-input"/>
            경기<input type="checkbox" value="1" name="gyeonggi" class="form-check-input"/>
            강원도<input type="checkbox" value="1" name="gangwon" class="form-check-input"/>
            충청도<input type="checkbox" value="1" name="chungcheong" class="form-check-input"/>
            전라도<input type="checkbox" value="1" name="jeolla" class="form-check-input"/>
            경상도<input type="checkbox" value="1" name="gyeongsang" class="form-check-input"/>
            제주도<input type="checkbox" value="1" name="jeju" class="form-check-input"/>
            해외<input type="checkbox" value="1" name="abroad" class="form-check-input"/>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">접수 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='@{/main}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>