<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/static/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<table border="1">
    <tr>
        <th>접수번호</th>
        <th>인원</th>
        <th>보증금</th>
        <th>접수담당</th>
    </tr>
    <tr th:each="rentalSlip : ${rentalSlips}">
        <td><a th:href="@{|/rentalSlip/${rentalSlip.rentalNum}|}" th:text="${rentalSlip.rentalNum}"></a></td>
        <td th:text="${rentalSlip.customerCount}"></td>
        <td th:text="${rentalSlip.deposit}"></td>
        <td th:text = "${rentalSlip.receiver}"></td>
    </tr>
</table>
</body>
</html>